body {
	background: url('background.png') no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	min-width: 400px;
  	min-height: 400px;
  	width: 40%;
  	height: 80%;
	margin: 20% auto;
	position: relative;
	border: 1px solid black;
	background-color: black;
}

#map {
	min-width: 400px;
  	min-height: 400px;
  	width: 80%;
  	height: 80%;
	margin: 20% auto;
	position: absolute;
	top: 0px;
	left: 10%;
	border: 1px solid black;
}

#plus {
  	background: url('plus.png') no-repeat;
  	background-size: 100%;
	position: relative;
	height: 300px;
	width: 300px;
	margin-left: 24%;
	margin-top: 3%;
}

#minus {
	background: url('minus.png') no-repeat;
	background-size: 100%;
	position: relative;
	height: 300px;
	width: 300px;
	margin-top: 10%;
	margin-left: 24%;
	bottom: 20%;
}

@media screen and (device-aspect-ratio: 2/3) {
	#plus_3_5 {
  	background: url('plus.png') no-repeat;
  	background-size: 100%;
	position: relative;
	height: 500px;
	width: 500px;
	margin-left: 24%;
	margin-top: 3%;
	}


	#minus_3_5 {
	background: url('minus.png') no-repeat;
	background-size: 100%;
	position: relative;
	height: 500px;
	width: 500px;
	margin-top: 10%;
	margin-left: 24%;
	bottom: 20%;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	#plus_4 {
  	background: url('plus.png') no-repeat;
  	background-size: 100%;
	position: relative;
	height: 550px;
	width: 550px;
	margin-left: 21%;
	margin-top: 8%;
}

	#minus_4 {
	background: url('minus.png') no-repeat;
	background-size: 100%;
	position: relative;
	height: 550px;
	width: 550px;
	margin-top: 18%;
	margin-left: 21%;
	bottom: 20%;
	}
}


.clearfix {
	clear: both;
}
