body {
	background: url('assets/background.png') no-repeat center center fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	background: rgba(0,0,0,0.5);
	text-align: center;
	margin: 0 auto 20px;
	color: white;
	font-family: 'Helvetica', sans-serif;

}

header h1 {
	margin: 0 auto;
	font-size: 32px;
	font-weight: bold;
}

header h3 {
	margin: 0 auto;
	font-size: 14px;
}

footer {
	height: 50px;
	width: 50px;
	position: relative;
}
.container {
	min-width: 400px;
	min-height: 400px;
	width: 40%;
	height: 80%;
	margin: 20% auto;
	position: relative;
	border: 1px solid black;
	background-color: black;
}

#map {
	/*min-width: 400px;*/
	/*min-height: 400px;*/
	width: 80%;
	height: 90%;
/*	margin: 20% auto; */
	/*margin-top:40px;*/
	/*margin-bottom: 20%;*/
	margin: 0 auto;
	/*position: absolute;*/
	top: 0px;
	/*left: 10%;*/
	border: 5px solid black;
	border-radius: 15px;
}

#clock {
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  height: 75px;
  width: 75px;
  border: 3px solid white;
  border-radius: 10px;
  z-index: 10;
  background: rgba(255,255,255,0.5);
}

#plus {
	background: url('assets/plus.png') no-repeat;
	background-size: 100%;
	position: relative;
	height: 300px;
	width: 300px;
	margin-left: 24%;
	margin-top: 3%;
	-webkit-filter: drop-shadow(3px 3px 3px darkblue);
}

#minus {
	background: url('assets/minus.png') no-repeat;
	background-size: 100%;
	position: relative;
	height: 300px;
	width: 300px;
	margin-top: 10%;
	margin-left: 24%;
	bottom: 20%;
	-webkit-filter: drop-shadow(3px 3px 3px darkred);
}

@media screen and (device-aspect-ratio: 2/3) {
	#plus {
	position: relative;
	height: 500px;
	width: 500px;
	}


	#minus {
	position: relative;
	height: 500px;
	width: 500px;
	}

	#map {
		display: none;
	}

	footer {
		display: none;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
	#plus {
	height: 550px;
	width: 550px;
	margin-left: 21%;
	margin-top: 8%;
}

	#minus {
	height: 550px;
	width: 550px;
	margin-top: 18%;
	margin-left: 21%;
	}

	#map {
		display: none;
	}

	footer {
		display: none;
	}
}

@media (min-width: 600px){
	#plus, #minus {
		display: none;
	}
}

@media (max-width: 600px){
	#map {
		display: none;
	}
	#plus, #minus {
		position: static;
		margin: 0 auto;
		width: 50%;
		left: 25%;
		height: 0;
		padding-bottom: 50%;
	}
	#plus {
		margin-top:10%;
		margin-bottom: 5%;
	}
}
.clearfix {
	clear: both;
}
